/* //Cards\\ */

.card {
    background-color: white;
    width: 80rem;
    min-height: 50rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.8) ;

    opacity: 0;
    animation: load 200ms ease-out forwards;
}

.avatar {
    background: url(https://source.unsplash.com/collection/9564215/500x500) no-repeat center center / cover;
}

/* //details\\ */

.details {
    padding: 3.2rem;
}

.details .items {
    border-top: 1px solid #555;
    margin: 4% 0;
}

.details .items:nth-child(2) {
    border: none;
}

.details h3,
.details .items div:nth-child(1) {
    font-size: 1.2rem;
    line-height: 3rem;
    color: #777;
    font-weight: normal;
    letter-spacing: 0.7px;
}

.details h3 {
    font-weight: bold;
    text-transform: uppercase;
}

.details .items div:nth-child(2){
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(59, 59, 59);
}

.details .items span {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(251, 255, 0, 0.966);
    border-radius: 14px;
    font-size: 1.3rem;
    color: #555;
}

/* //KeyFrames\\ */

@keyframes load {
    from{
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* //Form\\ */

form input {
    width: 100%;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(59, 59, 59);
}

input[type="radio"] {
    width: initial;
    margin-right: 0.4rem;
}

button[type="submit"] {
    background-color: #15A85D;
    width: 100%;
    margin: 1rem 0;
    padding: 0.8rem;
    border-radius: 1.6rem;
    color: white;
}
