{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/teachers.css">
{% endblock head %}

{% block content %}
    <div class="card">
        <section class="avatar"></section>
        <section class="details"></section>
    </div>
{% endblock content %}